{% extends 'layout.html' %}

{% block body %}
<style>
        img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        float:left
    }
        .myBox {
        border: none;
        padding: 5px;
        width: 40%;
        height: 40%;
        overflow: scroll;
        float:right
    }
</style>

<div class="text-center" style="margin-top:18px;">
    <h1>Predict pneumonia using YOLO algorithm</h1>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>

<div class="text-center">

    {% if invalidImage==3 %}
        <div class="text-center" style="margin-top:18px;">
            <!-- Please upload your image! -->
        </div>
    {% elif invalidImage==1 %}
        <div class="alert alert-danger" style="margin-top:18px;">
            <strong>Error</strong> The file is invalid!
        </div>
    {% elif invalidImage==2 %}
        <div class="alert alert-success" style="margin-top:18px;">
            <strong>Success!</strong> Your image was upload successfully
        </div>
        
        <h3 class="text-center">Prediction Result of {{filename}}</h3>
        {% if output|length >= 1 %}
            <div class="myBox">
                <h4>Pneumonia Positive</h4>
                <ul>
                    {% for item in output %}
                        <li>{{item}}</li>
                        {% endfor %}
                </ul>
            </div>
            <div>
                <img src="{{url_for('static', filename='predictions.jpg')}}" title="predictions" hspace="20"/>
            </div>
        {% else %}
        <div class="myBox">
            <h4>Pneumonia Negative</h4>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}